#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form {
    max-width: 300px;
  }
  .login-form-button{
    width: 100%;
  }
  .loginTitle{
    color: rgb(147, 74, 40);
  }

