@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "../../assets/sass/app.scss";

.contentLogin {
  background-color: $bg-login;
  padding: 2rem 1rem 2rem 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}
form {
  .form-group {
    color: $primary-darkblue;
  }
  .form-check {
    color: $primary-darkblue;
  }
}
.signinText {
  font-style: normal;
  font-weight: 600 !important;
  color: $bg-slate-1;
}
.signin__label {
  color: $bg-slate-1 !important;
  font-size: $fontSize-0;
}
.formControl {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  border-style: solid !important;
  border-width: 0 0 1px 0 !important;
  padding: 0px !important;
  color: #495057;
  height: auto;
  border-radius: 0;
  background-color: #fff;
  background-clip: padding-box;
}
.formControl:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}

$white: #fff;
$google-btn: #b0ab3f;
$button-active-blue: #1669f2;
.google-btn {
  width: 100%;
  height: 42px;
  background-color: $google-btn;
  border-radius: 6px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    
    
  }
  &:hover {
    box-shadow: 0 0 6px $google-btn;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }
  &:active {
    background: $button-active-blue;
  }
}
.login__dangky{
  color: #fff ;
  transition: all 0.3s ease-in-out;
  &:hover{
    color: greenyellow;
    transform: scale(1.20);
    transition: all 0.3s ease-in-out;
  }
}
