@import "../../assets/sass/app.scss";

.container__style {
  background-color: $primary-darkblue;
  h3 {
    font-weight: 500;
    font-size: 36px;
    color: $bg-login;
  }
  .input__style {
    width: 100%;
    min-width: 300px;
  }

  .button__register_style {
    margin-top: $margin-2;
    min-width: 300px;
    background-color: $bg-color-2;
    border: 1px solid $bg-color-2;
    color: $primary-darkblue;
    &:hover {
      background-color: $bg-login;
      border: 1px solid $bg-login;
      color: $primary-darkblue;
    }
  }
}
