@import "../../../../assets/sass/app.scss";
.bg-light {
  background-color: $bg-color-1 !important;
}
nav.navbar {
  margin-bottom: 0 !important;
}
.displayWhenSmallScreen {
  li {
    padding-left: 12px;
  }
  .dropdown-submenu {
    padding: 0 0 0 5px;
    .dropdown-item {
      padding-left: 12px;
      i {
        padding-right: 10px;
      }
    }
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  #navbarDropdown {
    color: black;
    margin-top: 4px;
    i {
      margin-top: 3px;
      font-size: 24px;
    }
  }
}
.header__left {
  .navbar-brand {
    img {
      width: 100px !important;
    }
    padding: 8px 16px !important;
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .Categories {
    display: flex;
    align-items: center;
    #navbarDropdown {
      color: $second-color;
      margin-top: 4px;
      i {
        margin-top: 8px;
        padding-right: 8px;
      }
    }
  }
  .form__search {
    flex-grow: 10;
    display: flex;
    align-items: center;
    .input-group {
      display: flex !important;
      position: relative;
      flex-wrap: nowrap;
      align-items: stretch;
      width: 100%;
    }
    .form-control {
      padding: 10px;
      background-color: $bg-color !important;
      border: 1px solid $second-color !important;
      transition: none;
      font-size: 1.2rem;
      transition: all ease 0.5s;
      width: 90%;
      &:focus {
        box-shadow: none;
        background-color: white;
        padding: 9px;
      }
      &:value {
        font-size: 1.2rem;
      }

      &:focus + .input-group-append {
        .input-group-text {
          text-decoration: none;
          background-color: $btn-color-1;
        }
        &:hover {
          .input-group-text {
            background-color: $btn-color-0;
            color: $primary-darkblue;
          }
        }
      }
    }
    .input-group-append {
      .input__group_text {
        border: none;
        background-color: $second-color;
        color: $btn-color-1;
        padding: 0px 12px;
        margin-left: 1px;
        font-size: 1.2rem;
        transition: all ease 0.5s;
        &:hover {
          background-color: $btn-color-1;
          color: $primary-darkblue;
        }
      }
    }
  }
}

//responsive
.display__when_small {
  @include responsive(SM) {
    width: auto !important;
  }
}
.logo__when_md {
  @include responsive(MD) {
    text-align: right;
  }
}
.display__sm {
  @include responsive(SM) {
    width: auto !important;
  }
}
.col__display {
  @include responsive(MD) {
    display: none;
  }
}
.header__left {
  @include responsive(MD) {
    .Categories {
      display: none;
    }
  }
  @include responsive(SM) {
    .navbar-brand {
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
    .form__search {
      display: none;
    }
  }
}
