@import "../../../../assets/sass/app.scss";

header {
  position: absolute;
  width: 100%;
  .bg-light {
    background-color: $bg-color-1 !important;
  }
  nav.navbar {
    margin-bottom: 0 !important;
    padding: 2%;
  }
  .displayWhenSmallScreen {
    li {
      padding-left: 12px;
    }
    .dropdown-submenu {
      padding: 0 0 0 5px;
      .dropdown-item {
        padding-left: 12px;
        i {
          padding-right: 10px;
        }
      }
    }
    .dropdown:hover > .dropdown-menu {
      display: block;
    }
    #navbarDropdown {
      color: black;
      margin-top: 4px;
      i {
        margin-top: 3px;
        font-size: 24px;
      }
    }
  }
  .header__left {
    .navbar-brand {
      img {
        width: 150px !important;
        max-width: 100% !important;
      }
      padding: 8px 16px !important;
    }
    .dropdown:hover > .dropdown-menu {
      display: block;
    }
    .Categories {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .nav__menu {
        margin: 0;
        &_item {
          &:not(:last-child) {
            margin-right: $margin-3;
          }
          a {
            color: black;
            font-size: $fontSize-0;
            font-weight: 600;
          }
        }
      }
      #navbarDropdown {
        color: $second-color;
        margin-top: 4px;
        i {
          margin-top: 8px;
          padding-right: 8px;
        }
      }
    }
  }

  .col__display {
    .navbar-nav {
      .nav-item {
        width: 140px;
        max-width: 100%;

        .badge {
          padding-left: 9px;
          padding-right: 9px;
          -webkit-border-radius: 9px;
          -moz-border-radius: 9px;
          border-radius: 9px;
        }

        // number of registered courses style
        .label-warning[href],
        .badge-warning[href] {
          background-color: #c67605;
        }
        #lblCartCount {
          font-size: 12px;
          background: #ff0000;
          color: #fff;
          padding: 2px 5px;
          vertical-align: top;
          margin-top: -50px;
          margin-left: 120px;
        }
      }
    }
  }

  //responsive
  .display__when_small {
    @include responsive(SM) {
      width: auto !important;
    }
  }
  .logo__when_md {
    @include responsive(MD) {
      text-align: right;
    }
  }
  .display__sm {
    @include responsive(SM) {
      width: auto !important;
    }
  }
  .col__display {
    @include responsive(MD) {
      display: none;
    }
  }
  .header__left {
    @include responsive(MD) {
      .Categories {
        display: none;
      }
    }
    @include responsive(SM) {
      .navbar-brand {
        display: flex !important;
        justify-content: center;
        align-items: center;
      }
      .form__search {
        display: none;
      }
    }
  }
}
