@import "../../../../assets/sass/app.scss";
.bg__primary_darkblue {
  background-color: $primary-darkblue;
}
.nav__color {
  color:$bg-color !important;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $second-color !important;
    background-color: $btn-color-1 !important;
    transition: all 0.3s ease-in-out;
    padding: 6px 12px;
    margin: 10px;
    font-weight: 400;
  }
}
.nav__color_label{
    color: $bg-color !important;
    transition: all 0.3s ease-in-out;
}
