@import '../../assets/sass/app.scss';

.bg__color_edit{
    background-color: $color-hyper-500;
    color: $bg-color;
    &:hover{
        color:$btn-color-1;
    }
}

.btn__color_return{
    background-color:$bg-login ;
    color: $bg-color;
    &:hover{
        color:$btn-color-1;
    }
}