.header__left {
  .navbar-brand {
    flex-grow: 1;
    img {
      width: 110px;
    }
  }
  .Categories {
    flex-grow: 1;
    margin-left: 20px;
    i {
      margin: 5px;
    }
  }
  .form__search {
    flex-grow: 10;
    .form-control {
      padding: 10px;
      background-color: $bg-slate-3;
      border: none;
      transition: none;
      font-size: $fontSize-1;
      transition: all ease 0.5s;
      &:focus {
        box-shadow: none;
        background-color: $bg-slate-1;
        padding: 9px;
      }
      &:value {
        font-size: $fontSize-1;
      }
      &:focus + .input-group-append {
        .input-group-text {
          background-color: $bg-slate-1;
        }
        &:hover {
          .input-group-text {
            background-color: $primary-light;
            color: $bg-slate-2;
          }
        }
      }
    }
    .input-group-append {
      .input-group-text {
        border: none;
        background-color: $bg-slate-4;
        color: $bg-slate-1;
        padding: $padding-1 15px;
        margin-left: 1px;
        font-size: $fontSize-1;
        &:hover {
          background-color: $primary-darkblue;
          color: $bg-slate-1;
        }
      }
    }
  }
}
.header__right {
  .navbar-nav {
    height: 40px;
  }
}

.header__right {
  //1200px
  @include responsive(XL) {
  }
  //768px
  @include responsive(MD) {
    .nav__button {
      display: none;
    }
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: red;
    }
  }
}
.header__left {
  @include responsive(MD) {
    .form__search,
    .Categories {
      display: none;
    }
  }
}
