// Prev and Next page icon
.fa-chevron-circle-left,
.fa-chevron-circle-right {
  font-size: $fontSize-0;
}

.disabled_btn {
  color: $bg-slate-3 !important;
}

//dropdown danh muc khoa hoc
.danhmuc__dropdown_icon {
  margin-top: 8px !important;
}

.fa-sign-out-alt {
  padding-top: 1px;
}
