@import "../../assets/sass/app.scss";
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Poppins";
}
.page_404 img {
  width: 100%;
}
.four_zero_four_bg {
  background: url("../../assets/img/dribbble_404.gif");
  height: 400px;
  background-position: center;
  margin-top: 120px;
}
.h1Size {
  font-weight: bold;
  font-size: 100px;
  color: rgba(255, 0, 0, 0.7);
}
.h3Size {
  font-size: 80px;
}
.pSize {
  font-size: 2.5rem;
}
@include responsive(MD) {
  .h1Size {
    font-weight: bold;
    font-size: 100px;
    color: rgba(255, 0, 0, 0.7);
  }
  .h3Size {
    font-size: 60px;
  }
  .pSize {
    font-size: 40px;
  }
}
@include responsive(SM) {
  .h1Size {
    font-weight: bold;
    font-size: 100px;
    color: rgba(255, 0, 0, 0.7);
  }
  .h3Size {
    font-size: 40px;
  }
  .pSize {
    font-size: 20px;
  }
}
.a_page_not_found {
  color: #fff;
  text-decoration: none;
  padding: 16px 24px;
  background: #39ac31;
  display: inline-block;
}
.a_page_not_found:hover {
  color: #fff;
  text-decoration: none;
  background-color: #29a072;
  transition: 0.2s ease-in-out;
}
.content_box_404 {
  margin-top: -50px;
}
@include responsive(SM) {
    .a_page_not_found {
        color: #fff;
        text-decoration: none;
        padding: 12px 20px;
        background: #39ac31;
        display: inline-block;
      }
  }
