$primary-darkblue: black;

$primary-light: #0276b3;
$primary-dark: black;

$second-color: black;
$second-color-light: #3a17e5;
$color-hyper-500: #f55f8d;

$bg-color: #f4f4f4;
$bg-color-1: transparent;
$bg-color-2: #ffd5b8;
$bg-color-3: #f0799e;
$bg-color-4: white;

$btn-color-0: #cfae0e;
$btn-color-1: #ffd302;
$btn-color-2: #ff6302;
$btn-color-3: #42cd3f;

// gradient button color
$btn-color-4: #f55f8d;
$btn-color-5: #f8ae56;

$text-color-0: #60ffef;
$bg-login: #ffd302;
$bg-slate-1: rgb(241, 245, 249);
$bg-slate-2: rgb(226, 232, 240);
$bg-slate-3: rgb(203, 213, 225);
$bg-slate-4: rgb(148, 163, 184);
$bg-slate-5: rgb(100, 116, 139);

$fontSize-0: 16px;
$fontSize-1: 12px;
$fontSize-2: 20px;
$fontSize-3: 24px;
$fontSize-4: 36px;

$margin-0: 4px;
$margin-1: 12px;
$margin-2: 28px;
$margin-3: 48px;
//padding
$padding-0: 5px;
$padding-1: 15px;
$padding-2: 20px;
