$primary-darkblue:#10152F;

$primary-light:#0276b3;
$primary-dark:#102b4e;

$second-color:#00095b;
$second-color-light:#3A17E5;
$bg-color:#f4f4f4;

$btn-color:#CFAE0E;

$bg-slate-1:rgb(241,245,249);
$bg-slate-2:rgb(226,232,240);
$bg-slate-3:rgb(203,213,225);
$bg-slate-4:rgb(148,163,184);
$bg-slate-5:rgb(100,116,139);



$fontSize-0:12px;
$fontSize-1:13px;
$fontSize-2:20px;
$fontSize-3:24px;
$fontSize-4:36px;

$margin-0:2px;
$margin-1:10px;
$margin-2:25px;