$primary-darkblue:#10152F;

$primary-light:#0276b3;
$primary-dark:#102b4e;

$second-color:#00095b;
$second-color-light:#3A17E5;
$color-hyper-500: #3A10E5;
$bg-color:#f4f4f4;
$bg-color-1:#FFF0E5;
$bg-color-2:#ffd5b8;
$btn-color-0:#CFAE0E;
$btn-color-1:#FFD302;
$bg-login:#795548;
$bg-slate-1:rgb(241,245,249);
$bg-slate-2:rgb(226,232,240);
$bg-slate-3:rgb(203,213,225);
$bg-slate-4:rgb(148,163,184);
$bg-slate-5:rgb(100,116,139);



$fontSize-0:16px;
$fontSize-1:12px;
$fontSize-2:20px;
$fontSize-3:24px;
$fontSize-4:36px;

$margin-0:2px;
$margin-1:10px;
$margin-2:25px;

//padding
$padding-0:5px;
$padding-1:15px;