//import Variable and Mixin
@import './helpers/variable';
@import './helpers/mixin';

//import Reset and Global
@import './base/reset';
@import './base/global';

//imp layouts
@import './layouts/header';

//import Pages
@import './pages/home';

html{
    width: 100vw;
}
body{
    padding: 0 !important;
}

.row{
    display:flex;
    flex-wrap: wrap;
    margin: 0 -0.9375rem;
}